/****Vars ****/
/*** Custom Layout ***/
*,
*:before,
*:after {
  box-sizing: border-box;
  border-bottom-color: #CCCACC; }

html, body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #333; }

body {
  margin: 0 2rem; }

/*** Custom Layout ***/
.dls-eintrag-sidebar {
  margin-left: -2rem;
  margin-right: -2rem;
  background-color: #F98D3C; }
  .dls-eintrag-sidebar * {
    color: white !important; }

/*----------------------------------------------------------------------- EXPOSE */
/*
.print-logo {
        display: block !important;
        border-bottom: 1px solid #ef9430;
        padding: 10px 0;
        height: 110px;
        > img {
        max-width: 100%;
        max-height: 100%;
        display: block;}
}

*/
.detail_titel {
  font-size: 1.25rem;
  font-weight: 300;
  padding-top: 2rem;
  color: #4d4a4d; }
  .detail_titel .immo-item--adresse {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    margin-top: 0;
    font-weight: 600;
    overflow: hidden;
    text-transform: uppercase;
    color: black; }
  .detail_titel + .immo-item--ref {
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0;
    display: block;
    color: black;
    border-top: 1px solid #F98D3C;
    text-align: right;
    font-style: italic;
    padding-top: 2px; }

.detail_ausstattung p, .detail_ausstattung li,
.detail_beschreibung p,
.detail_beschreibung li,
.immo-austattung_detail p,
.immo-austattung_detail li,
.eintrag-info-daten p,
.eintrag-info-daten li,
[class*="sidedata-"] p,
[class*="sidedata-"] li {
  font-size: 12pt;
  line-height: 1.4; }

.expose-bild-karte {
  margin-top: 2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
  margin-left: -2rem;
  padding: 2rem;
  background: #CCCACC;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; }
  .expose-bild-karte > * {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1; }
  .expose-bild-karte .expose-bild, .expose-bild-karte .eintrag_karte {
    overflow: hidden;
    height: 300px; }
  .expose-bild-karte .expose-bild {
    flex-basis: 60%; }
  .expose-bild-karte .eintrag_karte {
    flex-basis: 40%; }
  .expose-bild-karte .eintrag_karte,
  .expose-bild-karte .expose-bild > img {
    height: 300px;
    width: auto;
    max-width: none !important; }

.buehne h2 {
  display: inline-block;
  padding: 6px 8px 4px 8px;
  margin: 0 0 0 1rem;
  background-color: #F98D3C;
  color: white;
  border: 0;
  font-weight: 400;
  letter-spacing: .25em;
  font-size: .75rem;
  font-weight: 400;
  text-transform: uppercase; }
  .buehne h2 + * {
    padding: 2rem 0 1rem 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #CCCACC;
    margin-top: -7px;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0; }

.immo-item--daten {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }
  .immo-item--daten > * {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1; }
  .immo-item--daten > * {
    flex-basis: 33%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.25em 0.5em; }
    .immo-item--daten > *:nth-child(6n+1), .immo-item--daten > *:nth-child(6n+2), .immo-item--daten > *:nth-child(6n+3) {
      background: #e5e4e5; }
  .immo-item--daten > * {
    font-size: 12pt;
    font-weight: 600;
    text-align: left; }
  .immo-item--daten .immo-daten--label {
    display: block;
    font-weight: 300;
    font-size: 11pt;
    margin: 0;
    text-transform: uppercase; }

.immo-austattung_detail {
  list-style: none outside;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }
  .immo-austattung_detail > * {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1; }
  .immo-austattung_detail > * {
    flex-basis: 33%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.25em 0.5em; }
    .immo-austattung_detail > *:nth-child(6n+1), .immo-austattung_detail > *:nth-child(6n+2), .immo-austattung_detail > *:nth-child(6n+3) {
      background: #e5e4e5; }
  .immo-austattung_detail > li {
    position: relative;
    padding-left: 22px; }
    .immo-austattung_detail > li > img {
      position: absolute;
      left: 0;
      top: 0; }

#ObjektBildThumbs {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  border: 1px solid red; }
  #ObjektBildThumbs > div {
    background: #eae9ea;
    border: 1px solid #CCCACC;
    text-align: center;
    padding: .75rem 0; }
  #ObjektBildThumbs img {
    max-width: 100%;
    max-height: 100%; }

.peb-ico_detail {
  width: 85px;
  border: 1px solid red; }

.eintrag_infos_immo {
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCCACC; }
  .eintrag_infos_immo .eintrag-info-kontakt {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden; }
    .eintrag_infos_immo .eintrag-info-kontakt > * {
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1; }
    .eintrag_infos_immo .eintrag-info-kontakt .EintragLogo {
      text-align: center; }
      .eintrag_infos_immo .eintrag-info-kontakt .EintragLogo img {
        max-height: 120px;
        max-width: 100% !important;
        margin: auto;
        line-height: 120px;
        display: inline-block; }
    .eintrag_infos_immo .eintrag-info-kontakt .expose-header {
      -webkit-box-flex: 2;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 2;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 2;
      /* IE 10 */
      flex: 2;
      padding: 0 2rem; }
      .eintrag_infos_immo .eintrag-info-kontakt .expose-header > h2 {
        font-size: 0.75rem;
        margin-top: 2.2rem;
        text-transform: uppercase; }
        .eintrag_infos_immo .eintrag-info-kontakt .expose-header > h2:after {
          content: '';
          display: block;
          height: 2px;
          margin-bottom: 0.75rem;
          background: currentColor; }
      .eintrag_infos_immo .eintrag-info-kontakt .expose-header .eintrag-info-daten {
        width: 50%;
        float: left; }
        .eintrag_infos_immo .eintrag-info-kontakt .expose-header .eintrag-info-daten p {
          margin-bottom: .25rem; }
        .eintrag_infos_immo .eintrag-info-kontakt .expose-header .eintrag-info-daten a {
          color: #F98D3C;
          text-decoration: none; }

.sidedata-tel:before {
  content: "Tel.: ";
  display: inline; }

.sidedata-fax:before {
  content: "Fax: ";
  display: inline; }

.sidedata-mobil:before {
  content: "Mobil: ";
  display: inline; }

.detail_beschreibung table, .detail_beschreibung td {
  border: 1px solid #CCCACC;
  font-size: 12pt;
  line-height: 1.4;
  border-collapse: collapse; }
.detail_beschreibung td {
  padding: .75rem; }

.footer-full {
  text-align: center;
  font-size: smaller;
  padding: .75rem;
  color: #8d898d;
  border-top: 1px solid #CCCACC; }
  .footer-full img {
    margin: 1rem auto; }

@media print {
  #ObjektBildThumbs > div > img {
    /*        page-break-inside: avoid;*/
    page-break-before: always;
    /*        page-break-after: avoid;*/ }

  .detailansicht + h2,
  #kontaktbereich {
    page-break-before: always; }

  .immo-austattung_detail {
    page-break-inside: avoid; }

  .eintrag_redaktion > h2:first-of-type {
    page-break-before: avoid; }

  @page {
    size: A4;
    margin: 1cm 2cm; } }

/*# sourceMappingURL=immo-----expose.css.map */
